---
layout: "layout-alt"
---

<div class="background-container">
  Page 1:
  <img style="float: left;" src="/images/chuck2.jpg"></img>
  <p>
    Unicorn trainers are highly qualified professionals who stand between us and anarchy. Mythically they feed the Unicorns under their responsibility with fairy dust and carrots. The Unicorn diet needs to be perfectly balanced between those two foods because the slightest transgression, one carrot too many for example, can cause the Unicorn to pack up his bags, return to Never, Neverland and sue the particular Unicorn trainer into the poor house.
  </p>

  <p>
    Unicorn trainers also read the Mythological creature bedtime stories at night or any other time it feels like having a nap. The last very important task of any competent Unicorn trainer is brushing the Unicorn twenty seven times a day. Military speaking the crucial part is taking the Unicorn's phone calls and making sure it doesn't run out of dental floss. Unicorn trainers remain today, as in ancient times, the elite of our society, living in private Unicorn mansions and moving among us largely unknown. Unknown but for one man.
  </p>

  <p>
    Never before has the world seen the skill and dexterity in handling and training of Unicorns as that of Chuck Vose, the most famous of all Unicorn trainers. This November 20th, Chuck Vose returns to the source. This will be an epic moment in Unicorn history as he attempts to prove that Unicorns still exist in Portland. Starting this November 1st 2010, he begins to assemble his crew for a Unicorn Watching Expedition in Portland Oregon. Rumors have started to spread that he has chosen his key crew members already. Eye-witnesses claim they have seen him in secret meetings with old Unicorn training friends and certain key players in the secretive Unicorn training world. Stay tuned for an exclusive interview later this month when Chuck Vose shares his vision for this expedition and some stories from his Unicorn training past. Interested parties can apply to join this expedition.
  </p>
  <p>
    Send resumes to Chuck Vose's assistant Teiden at: <email>pick.me.I.\<\3.unicorns@hatsnpants.com</email>
  </p>
</div>

