---
layout: "layout-alt"
---
<div>
  <p>
  A beast of great legend, the unicorn is a beautiful, elusive, and dangerous creature resembling a white horse with the cloven hooves of a deer, the tail of a lion, and a single, spiraled horn protruding from the center of its forehead. ~ Unicorn Trainer’s Guild
  </p>
</div>


  <img style="float: left;" src="/images/chuck2.jpg"></img>
  <p>
    Unicorn trainers are highly qualified professionals who stand between us and anarchy. Mythically they feed the Unicorns under their responsibility with fairy dust and carrots. The Unicorn diet needs to be perfectly balanced between those two foods because the slightest transgression, one carrot too many for example, can cause the Unicorn to pack up his bags, return to Never, Neverland and sue the particular Unicorn trainer into the poor house.
  </p>

  <p>
    Unicorn trainers also read the Mythological creature bedtime stories at night or any other time it feels like having a nap. The last very important task of any competent Unicorn trainer is brushing the Unicorn twenty seven times a day. Military speaking the crucial part is taking the Unicorn's phone calls and making sure it doesn't run out of dental floss. Unicorn trainers remain today, as in ancient times, the elite of our society, living in private Unicorn mansions and moving among us largely unknown. Unknown but for one man.
  </p>

  <p>
    Never before has the world seen the skill and dexterity in handling and training of Unicorns as that of Chuck Vose, the most famous of all Unicorn trainers. This November 20th, Chuck Vose returns to the source. This will be an epic moment in Unicorn history as he attempts to prove that Unicorns still exist in Portland. Starting this November 1st 2010, he begins to assemble his crew for a Unicorn Watching Expedition in Portland Oregon. Rumors have started to spread that he has chosen his key crew members already. Eye-witnesses claim they have seen him in secret meetings with old Unicorn training friends and certain key players in the secretive Unicorn training world. Stay tuned for an exclusive interview later this month when Chuck Vose shares his vision for this expedition and some stories from his Unicorn training past. Interested parties can apply to join this expedition.
  </p>
  <p>
    Send resumes to Chuck Vose's assistant Teiden at: <email>pick.me.I.\<\3.unicorns@hatsnpants.com</email>
  </p>
</div>

<div>
  <h3>Applications to Join the Adventure Crew</h3>
  <p>
    Many would take this resume as an opportunity to exaggerate their accomplishments, in hopes of attaining undeserved respect. Those aren't the sort you need on this expedition. Instead, you need someone with moxie, verve, and--most of all--pluck. In a word--me.
  </p>
  <p>
    I've hunted kraken in the polar north, bowled with minotaurs, and feasted up on the Vegetable Lamb of Tartary. I once spent seven days trapped in the nest of a thunderbird, my only sustenance the lightning-lice with which it was infested. I have glimpsed the sane Republican. The "rare" and "mythological" are what I live and breathe.  
  </p>
  <p>
    My skills include fletching, filching, and flensing. I can hold my breath for ten minutes, a skill learned while sailing with the mighty pirate, Guybrush Threepwood. I have a preternatural sense of timing, and an uncanny ability to take sole credit for group endeavors. I lead both by example and shouting, adapting as necessary to the situation.  I could go on, but why? If you're serious about success, then you need a serious man. And if you need a serious man, you need Tyler Sellon, BS.  
  </p>
  <p>
    For job offers, accolades, or clarifying questions, please do not to hesitate to contact me at this address.  
  </p>
  <p>
    Tyler Sellon.  
  </p>
  <p>
    (References available upon request)
  </p>
</div>

====================

Exclusive Interview with Chuck Vose,
Internationally known Unicorn Trainer

In a chance meeting on the bus this week, we had the unforgettable privilege of interviewing none other than Chuck Vose.

He shared with us some insights about Unicorns, Portland and most importantly, his expedition scheduled for later this month. Mr. Vose, do you believe there really are unicorns in Portland still?

"I think that Portland has a strong history of Unicorns but I don’t think they've been seen in a little while. Outside of, obviously unicorn trainers and the occasional ethereal vestige in the cloud form that we've all seen."
Have you ever seen a Unicorn?

"Of course,  of course. You'll see them under the underpasses sometimes frolicking and they like to get in the way of traffic.  They're here."
Rumors abound regarding your proposed expedition this November 20th 2010.What can you tell us about this expedition?

"I'm not prepared to say anything about that at this point."
People certainly are loving this! There has been much media attention and speculation, What do you have to say about all the hype going on currently about yourself and your expedition and of course Unicorns in general?

"I can't say I'm surprised, really. They're pretty special things, you know. But I'm excited! I think that its going to be an interesting event. I hope to see a lot of Unicorns. I'm going to be calling on a couple of friends to really trot out their stuff, if you know what I mean."

What would you say are your chances of actually sighting unicorns this November 20th?

"I think they're pretty good. Like I said, I got a couple friends might be willing to come out, make a guest appearance. But we'll see, you know there's some dangers out there. They might be wary about it - they don't like to be seen, but you know, we've got some history so hopefully we can make this happen."
How do you respond to challenges from the elusive Unicorns training community that you going public undermines everything they have worked for?
"Ha, they're all sissies, really."

Certainly we're hearing a lot about unicorns right now, but tell us, have you seen a significant change in public opinion and attitudes about Unicorns over the past 10 years?

"Oh, yeah, it's been absolutely crazy.  I mean you've seen all the hype around well,  that famous poster about the ancient Unicorn burial ground - which is true! It's totally true. But, people haven't really talked about it.  But I've seen this whole uprising of Unicorns love and I think its time they took their place as the the national icon that I've been proposing.

I mean, eagles? What? no, no we need to go with out actual national animal, unicorns have been in America forever so we really need to embrace it and take them at that value."

Reports are coming out that you are being very secretive and selective in your expedition crew...What is your vision for this expedition crew?  Can you tell us what individual skills and qualities or group dynamics you are looking for?

"Everyone has been very carefully selected for their prowess with certain supernatural and preternatural abilities. We've got at least one ghost training as well as some ghost hunters which should make for an interesting experience between the two of them.  Then we've also got some animal whisperers and some normals.  Unicorns really like innocents so there's going to be at least one virgin there.

I've just worked on group cohesiveness more than anything.  I've tried to put together a lot of mathematicians and engineers. Unicorns really like building little tiny bridges that they can stomp on so I thing the engineers will be able to help out with that a lot.

And perhaps the most important questions of all; Do you Really believe you'll be able to find a virgin?

Ha! It's difficult, I mean you have to sift through all the people who claim, but aren't actually. SO, we'll work on it. Maybe a face book ad or craigslist. It's sure to net something.

==================

Why Capture A Unicorn? The Dangers of Unicorn Abuse.
by Chuck Vose

There isn't a single person in all the world who wouldn't love for a bit of magic to come prancing into their lives. Alas, true magic is all too rare; a person would be lucky to catch a glimpse of it just once in their life, and that is more often than not only out of the corner of their eye. Still, it exists.

One of the greatest sources of magic in the world is the unicorn.
A beast of great legend, the unicorn is a beautiful, elusive, and dangerous creature resembling a white horse with the cloven hooves of a deer, the tail of a lion, and a single, spiraled horn protruding from the center of its forehead. With this theurgical horn, the unicorn has the ability to heal sickness, purify water, and bring life to things that death has recently visited.

Its powers are envied by many, but possessed by few; understanding how sighting a unicorn can help bring that magic into one's own life.
Unicorns Don’t Make Good Pets: Reasons Why You Might THINK you Want One For Your Very Own.


There are many reasons why you might want to be able to catch a unicorn.

1. Its horn can neutralize poisons, cure illness, and purify water.

In fact, the powerful healing quality of its horn is the reason that unicorns have been driven to the very brink of extinction; it was most vigorously hunted in western Europe during the Black Plague. The people of the day thought that the Unicorn must be killed and the corn cut off for the healing properties to be obtained however, modern research has revealed that close proximity to the unicorn is enough to have many beneficial effects.


2. The unicorn brings luck.

Its very presence is a neutralizing factor for every black cat, walked-under ladder, and broken mirror. Those who have witnessed unicorns in the past have been purported to live very long, happy lives. Why, I myself am 405 years old this November 17th.


3. It will make a unique pet.

Have you ever met or heard of those people who own tigers as pets? Well, you'd forever have them one-upped! When these other exotic pet owners brag about their animals, you can simply look them in the eye and say, "Have you ever owned a unicorn? No? Do you know anyone who has? Oh. Tsk, tsk. That's too bad. Well, I hope that you and your common little kitty will be very happy together."  ...

BUT! Beware the Dangers of Dabbling in Unicorn Capture!

Too many people have been tempted to their own terrible fate by the lure of the magical Unicorn.

Never forget, removing such pure creatures from their natural habitat we now know, causes their magic to fade and eventually turn in to a terrible curse of famine and disease upon the owner of such a pure and magical beast. No amount of healing and luck from the Unicorn Horn can counter this terrible curse.  For that reason, the luring and training of Unicorns should be left to professional trainers ONLY!

Please, do NOT try this at home.

==============================

Wanted; One Virgin, Pure of Body, Heart and Mind.

For one afternoon of Unicorn Hunting.
You must be attuned to spiritual vibrations, work well with others, smell of cotton candy and lure small woodland creatures to you in droves.

Preferred Skills:
Ability to sing, play the harpsichord and hum sweetly.
This is a volcano free work environment.

Interested individuals send applications to;
Teiden Von Steubing
Assistant Undersecretary to the Dean of the Unicorn Hunting Guild
emstillman@yahoo.com

============================

Wanted: One Slut. A dirty, dirty slut.

Do you not need a reason to have sex, just a place?
If so, we are looking for you!

Preferred Qualities:
Lack of appropriate boundaries. Insatiable sexual appetite. Lusty, bawdy and buxom.
Costumes, toys and props are highly encouraged. Dominatrices given special preference.
This is judgment free workplace. And we have been very, very naughty.

Interested individuals send applications to;
Teiden Von Steubing
Assistant Undersecretary to the Dean
of the Unicorn Hunting Association
emstillman@yahoo.com

===============================

Is Chuck Vose, World Famous Unicorn Tamer, Exploiting Sluts and Vigins?

This exclusive expose just released;  The Vose Unicorn Way; how to lure a Unicorn.

Is Chuck Vose using virgins and sluts as Unicorn Bait in pursuit of his own twisted agenda?  Do we really want a man who exploits virgins and sluts indiscriminately as a role model for our communities' young people?
Allegations abound that Vose is using his skill for the black market sale of Unicorn Horn. Has he been dabbling in the illegal use of Horn in healing potions and other cures?

Certainly, he denies all accusations but we have to wonder, he does seem overly preoccupied with the healing benefits and merits of the magical and magnificent Unicorn Horn.  And did he really mean to write lure instead of capture? Is all this a matter of a single typo?  Or is it something much darker? Have we misplaced our faith in this new genre folk hero?
You be the judge.

Here below, for the first time ever, available for public scrutiny is no less than the actual methods used by Chuck Vose himself to lure and train Unicorns.

This information combined with the tragic events of 2005, we have to wonder if Chuck Vose has something to prove? Is he truly recovered from his dark past or has he he gotten back into his old reckless ways?

Though he would like us to believe that is all past and gone,  is this just a new iteration of last time where we watch as he uses people recklessly?
Is he bound for more disaster?

=============================================

The Involvement of Consenting Adults is NOT Exploitation
Public Statement by Chuck Vose:

What you read was old literature. Times change and our literature changes with us. Those instructions were from a text I wrote over 200 years ago when virgins were plentiful and people were a lot tougher.

When that text was written, getting shot in the shoulder was no big deal, it happened all the time.  Additionally, we have a lot more sluts now and they attract Unicorns even better.

It's a puritanical lie that Unicorns are only drawn to virgins - they actually prefer sluts.

Furthermore, with better technology, greater understanding of the psychic plane and the ability to speak with the spirits at the burial grounds,  we no longer need to shoot the virgin in the shoulder with an arrow.... or at all.  A simple combination of non-violent methods render much more efficient and socially acceptable results.

The excursion planned for November 20th  is purely non-violent. No virgins or sluts will be injured or exploited in any way whatsoever. All of the participants in my expedition are adults. Consenting adults. And I hold that consent is not exploitation.

Regarding the reference to the terrible events of 2005, well I would never kill a unicorn again. It is simply  ... the most terrible thing. There were extenuating circumstances that were not explained at all in what you read.  That was an expedition in Australia and we got in too deep. There was nothing we could have done. If I could have that day to do over again I would, but we all know life is never that simple.

There were extenuating circumstances that were not explained at all in what you read.  That was an expedition in Australia and we got in too deep. There was nothing we could have done. If I could have that day to do over again I would, but we all know life is never that simple.

Anyone who doubts my methods or my integrity as a Unicorn Trainer is welcome to join the viewing portion of my expedition to see first hand how I operate.  There really is no better way to understand the majesty of the handsomest of equine nor the purity of my methods.

Finally, anyone who has anything else to say about me, have the courage to say it to my face.


===============================================

The Vose Way: How to Capture a Unicorn, a Step-By-Step Guide: The Can't-Fail, Step-by-Step Instructions To Capturing (and Releasing) A Unicorn

1.
The first task for the would-be hunter is to gather a party of quick, strong people; they must all be able to remain calm under pressure and summon bravery in the face of the unknown. No harm will come to travelers in a unicorn's city, but to most people, the vision of the unicorn is unnerving in its beauty and splendor, and the ability to keep a clear mind and steady hand will prove invaluable to this mission.

As it can take up to two weeks to capture a unicorn, the next priority is packing the proper provisions to prepare for a long, hard wait in the darkest depths of the city. It is suggested that the group bring lots of natural foods; fruits, vegetables, and nuts are best, but probably will not last the entire two weeks, so bread is essential as well. It is important to ensure that nothing that was begotten from the bodies of other animals is brought along - no eggs or milk, and especially no meat of any kind. Unicorns cannot abide the existence of butchers within its domain.

The hunter should also pack a significant amount of rope, several bottles of bubbles and bubble blowing wands, and a butterfly net with which to attract and temporarily capture the creature. Finally, a virgin must accompany the people on this quest. The only hope of capturing a unicorn rests on this virgin, as unicorns will only approach pure and beautiful young people. If, for some reason a virgin cannot be found (we realize that such a problem may be shocking to you but  we have heard some areas of the world do occasionally encounter such problems and want to account for these things as much as possible), you can substitute a virgin for the biggest slut in your party of gathered people. How you decide this is up to your group  - we just aren't going to micro-manage that for you. Once the provisions have been gathered, it is time to venture forth into the woods to begin the search for the elusive unicorn.

2.
Secondly, everyone in the party should keep their eyes open for fountains that are unnaturally clear and free of insects or dirt. A member of the group must taste the water of these fountains; if it is determined to be cooler, sweeter, and more refreshing by far than any other water they have ever swallowed, it means that a unicorn has recently purified that fountain and is more likely than not still close by. The clearer and sweeter the water of the fountain, the closer the unicorn.

There is usually only one unicorn per forest, and it can be immensely difficult to track, but knowing the signs of a unicorn's passing will aid in the search. When entering the trees, the group should begin the hunt by looking for spots of flowers that follow a more or less linear pattern; blossoms spring from the ground on which a unicorn's cloven hooves have stepped, and there should be a clear path of flowers on the forest floor that indicates where they have recently been.

The blossoms of these flowers will be full, their stems will be thick, and they will look and smell so alive as to make one think that they would refuse to die even when confronted with the deadly breath of the winter frost.
It is important to keep in mind, however, that as plain as this trail of blossoms will appear, and as tempting as it will be to follow, the party must not attempt to pursue the unicorn over this floral path, for the unicorn's incredible swiftness makes any attempts by human beings to follow it entirely fruitless.

3.
A final key to finding the unicorn is to look and listen for those places in which the animals of the city are in highest volumes, both in numbers and in noise, as they flock to the unicorn for protection and for the pure sense of joy in life they get when around him. Birds will seem to crowd the fountains and parks as much as do the squirrels who will seem to fur the trunks of the trees as they scurry constantly up and down; it will be quite clear that the crowding of critters in the area is unnatural, and thus magically influenced.
When the searches for flowers, water, and animals are combined, the location of the beast should be relatively easy to discover. After the unicorn's proximity has been determined, find a clearing nearby. Once the clearing has been chosen, the next task is to set up the trap and wait for the beast to approach.

4.
The virgin/slut must first be settled into the middle of the clearing. Flowers should then be woven into the hair, as the unicorn will be attracted to them. The virgin/slut should thirdly be instructed to continuously sing or play softly on a sweet-sounding stringed instrument, preferably a small harp, the sound of which will draw the unicorn out of hiding.

Once the virgin/slut is settled, the people of the hunting party must remain completely out of sight of the clearing, for if the unicorn sees them, it will bolt and never again return to that spot. While waiting, all may eat, drink, and rest as quietly as possible. No one must light a fire; the glow and the smoke will alert the unicorn to the presence of humans, and it will be sure to avoid the clearing.

Those of the party should slumber as little as possible so as not to miss the unicorn's appearance. When sleep cannot be avoided, turns must be taken to keep watch. When the animal finally steps into the clearing, it is time to ready the group for the capture.

The unicorn will always approach slowly, cautiously; its appearance is marked first by a strong smell of lavender, followed by a bursting of beautiful song from every bird in every tree in the area and a vibrating hum that fills the air.

The unicorn will draw near the virgin/slut with elegance and grace before stopping to kneel and lay its head in the virgin's lap. The people must wait a few minutes to allow the virgin/slut's continued melody (the virgin/slut must never stop singing or playing) to lull the animal into a false sense of security. At this point, you will need to employ the bubbles.

5.
The bubbles will distract and entice the Unicorn with their iridescent shimmer and light floating about. You will need to completely surround the Unicorn with bubbles until it is entirely disoriented. At this point, you should be able to sweep your butterfly net over it's head and tie a rope around it's neck. Once captured, the unicorn will be calm and curious about it's captors nuzzling and butting them with its nose.  You will need to be careful not to hold the unicorn for too long. 10-15 minutes is the maximum recommended amount of time. Any longer and you may find it hard to release your unicorn and then must suffer the curse.

This method of catching a unicorn is sure to bring success.

=========================

