---
layout: "archive-layout"
---

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/stylesheets/vendor/magnific-popup.css">

<!-- Magnific Popup core JS file -->
<script src="/javascripts/vendor/jquery.magnific-popup.js"></script>

<div>
  <div class="wrapper">

    <!-- Row One: six columns -->
    <div class="row1">
      <div class="fun-with-blocks">
        <div class="row1c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row1c6">
         <a href="/archive-book2.html"> <img class="sparklebox3" src="/images/book-sparkle.png"></img></a>
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row1c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row1c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row1c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row1c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
    </div>

    <!-- Row Two: five columns -->
    <div class="row2">
      <div class="fun-with-blocks">
        <div class="row2c5">
          <a href="/archive-book1.html"><img class="sparklebox3" src="/images/book-sparkle.png"></img></a>
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row2c5">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <!-- Photo Frame Guy -->
      <div class="fun-with-blocks">
        <div class="row2c5">
          <a class="image-popup-vertical-fit" href="https://dl-web.dropbox.com/get/coding/websites/mystery-adventure/source/images/archive-sign.png?_subject_uid=9341119&w=AABt9mKmqMIVKlwGUl2n-mauvANiTaEnUKg_OpLusGEKHA">
           <img src="/images/archive-picture2.png">
          </a>
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row2c5">
          <!-- <a href="/book-1.html"><img class="sparklebox3" src="/images/book-sparkle.png"></img></a> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row2c5">
         <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
    </div>

    <!-- Row Three -->
    <div class="row3">
      <div class="fun-with-blocks">
        <div class="row3c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -- >
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row3c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row3c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row3c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row3c6">
          <a href="/archive-book3.html"><img class="sparklebox3" src="/images/book-sparkle.png"></img></a>
        </div>
      </div>
      <div class="fun-with-blocks">
        <div class="row3c6">
          <!-- <img class="sparklebox3" src="/images/book-sparkle.png"></img> -->
        </div>
      </div>
    </div>

  </div>
</div>

<div id="test-popup" class="white-popup mfp-hide">
  <img width="500" src="/images/chuck2.jpg"></img>
</div>
<!-- =====================
Popup Notes

This is the visible part:

<a class="popup-inline" href="#test-popup">
  <img class="sparklebox" src="/images/sparkles.png" width="100" height="auto">
</a>

This is the hidden part:

<div id="test-popup" class="white-popup mfp-hide">
</div>
===================== -->
