---
layout: book
---

<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook">
      <div class="hard"> <!-- Book Cover -->
        <img style="margin-bottom: 20px;" src="/images/book-cover.png"></img>
        <div class="padded-content">
        </div>
      </div>
      <div class="hard"><!-- Book Cover Inner -->
        <div class="padded-content bkfnt">
          <img style="float: center; margin-left: 70px; margin-bottom: 20px; height: 250px;" src="/images/unicorn-guild-shield.png"></img>
          <p>
            <span class="dropcap">A</span> beast of great legend, the unicorn is a beautiful, elusive, and dangerous creature resembling a white horse with the cloven hooves of a deer, the tail of a lion, and a single, spiraled horn protruding from the center of its forehead.
          </p>
          <p>~ Unicorn Trainer’s Guild</p>
        </div>
      </div>
      <div><!-- Page 1 - Book 1 "Introduction" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            Introduction
          </p>
          <p style="font-size: .9em;">
            Many are familiar with the Unicorn Guild, Portland Chapter and with the mysterious scandal of 2005 which lead to the disappearance of Guild Members and Unicorn Hunters from mainstream society.
          </p>
          <p style="font-size: .9em;">
            But few know the details surrounding this event and the impact is had on Unicorn Culture. This book chronicles the events leading up to and following the scandal and attempts to dispel the fog of mistrust and restore the reputation of the Unicorn Guild and it's members in the public eye.
          </p>
          <p style="font-size: .6em; font-style: italic; line-height: 1.2em; margin-left: 20px; margin-right: 20px;">
            Any resemblance to persons living or dead should be plainly apparent to them and those who know them, especially if the author has been kind enough to have provided their real names and, in some cases, their phone numbers.
          </p>
          <p style="font-size: .6em; font-style: italic; line-height: 1.2em; margin-left: 20px; margin-right: 20px;">
            All events described herein actually happened, though on occasion the author has taken certain, very small, liberties with chronology, because that is her right as an American.
          </p>
        </div>
      </div>
      <div> <!-- Page 2 - Book 1 "double-rainbow image"-->
        <div class="padded-content bkfnt">
          <img src="/images/double-rainbow.jpg">
        </div>
      </div>
      <div><!-- Page 2 - Book 1 "Official Investigation" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            Official Investigation
          </p>
          <p class="uppercase">
            <span class="dropcap bkfnt">O</span>fficial Investigation of public record into  the events of the 2005 Unicorn Scandal.
          </p>
          <p>
            What really happened that fateful day in 2005?
          </p>
          <p>
            Official, third-party investigators have dug deep into the mysterious events surrounding this scandal to  discover the facts.
          </p>
          <p>
            What follows is a record of these findings.
          </p>
        </div>
      </div>
      <div><!-- Page 3 -Book 1 "The facts: who is chuck/marc?" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            The Facts
          </p>
          <p class="uppercase">
            Fact:
          </p>
          <p>
            Prior to 2005, Chuck Vose was a powerful and influential member of the Unicorn Guild.
          </p>
          <p class="uppercase">
            Fact:
          </p>
          <p>
            Marc Charbonneau, less well known, though equally powerful and influential Guild Member and Unicorn Hunter, was Chuck Vose's close associate and long-time friend.
          </p>
          <p>
            Marc Charbonneau, and Chuck Vose often led high-profile Unicorn Expeditions together in remote regions of unicorn territory all over the world.
          </p>
        </div>
      </div>
      <div><!-- Page 4 -Book 1 "The facts: public scrutiny and shock over virgin/slut use as unicorn bait" -->
        <div class="padded-content bkfnt">
          <p class="uppercase">
            Fact:
          </p>
          <p>
            There was a significant amount of public controversy leading up to this scandal surrounding the actual methods used by Unicorn Hunters, especially with regard to whether the term "hunter" actually meant killing unicorns.  However, many maintain that it is simply a term used to mean "find" or "track" unicorns.
          </p>
          <p>
            Increased public scrutiny led to a number of other controversial discoveries including the use of "sluts" as "unicorn bait" to attract unicorns rather than "virgins".
          </p>
          <p>
            Although shock over this revelation has mostly died down, many still regard this unconventional approach as morally reprehensible.
          </p>
          <p style="font-size: .6em; font-style: italic; line-height: 1.2em; margin-left: 20px; margin-right: 20px;">
            See Appendix A for documentation of this public scrutiny and shock.
          </p>
        </div>
      </div>
      <div><!-- Page 5 -Book 1 "The facts: where are they now-1?" -->
        <div class="padded-content bkfnt">
          <p class="uppercase">
            Fact:
          </p>
          <p>
            Following the events of 2005, both Chuck Vose and Marc Charbonneau disappeared from the unicorn scene for several years.
          </p>
          <p class="uppercase">
            Fact:
          </p>
          <p>
            Chuck Vose resurfaced in 2010 for a very public return to Unicorn Tracking. However, Marc Charbonneau has remained elusive, his whereabouts unknown until recently when investigators caught up with Marc Charbonneau early this year in Wales and learned more about his life since 2005.
          </p>
          <p style="font-size: .6em; font-style: italic; line-height: 1.2em; margin-left: 20px; margin-right: 20px;">
              See Appendix B for documentation about Chuck Vose's return to the Unicorn Hunt Scene.
            </p>
          </p>
        </div>
      </div>
      <div><!-- Page 6 -Book 1 "The facts: where are they now-2?" -->
        <div class="padded-content bkfnt">
          <p class="uppercase">
            Fact:
          </p>
          <p>
            When the scandal broke, both Vose and Charbonneau's Guild memberships and unicorn trainer licenses revoked.
          </p>
          <p class="uppercase">
            Fact:
          </p>
          <p>
            We now know that Vose and Charbonneau spent the intervening years traveling the world by airship.
          </p>
          <p class="uppercase">
            Fact:
          </p>
          <p>
            Thoroughly disillusioned by the Guild's response to the scandal, Charbonneau  never returned to Unicorn Society and instead became a freelance bounty hunter. An occupation he currently holds as of this report.
          </p>
          <p style="font-size: .6em; font-style: italic; line-height: 1.2em; margin-left: 20px; margin-right: 20px;">
              See Bio Page following for more details about Marc Charbonneau.
          </p>
        </div>
      </div>
      <div><!-- Page 6 -Book 1 "BIO for Marc Charbonneau" -->
        <div class="padded-content bkfnt">
          <img style="float: left; margin-right: 15px; margin bottom: 10px; height: 150px;" src="/images/marc2.jpeg"></img>
          <p>
            <span class="uppercase" style="font-size: .7em">Name: </span>Marc Charbonneau
          </p>
          <p>
            <span class="uppercase" style="font-size: .7em">Relevant History: </span>Licensed Unicorn Hunter and trainer, first class. Close associate and long-time friend to Chuck Vose. <br> Charbonneau was the first Unicorn Hunter to discover the truth about "Unicorn Bait" and pioneered the "employment" of sluts to entice unicorns into the open.
          </p>
          <img style="float: right; margin-left: 10px; margin bottom: 40px; height: 170px;" src="/images/airship-monsterpit.jpeg"></img>
          <p>
            <span class="uppercase" style="font-size: .7em">Current Occupation: </span>Airship captain and freelance bounty hunter.
          </p>
          <p>
            <span class="uppercase" style="font-size: .7em">Vessle Name: </span>The Monster Pit
          </p>
        </div>
      </div>
      <div><!-- Page 7 - Book 1 "Final Report: Findings of this Investigation" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header2 uppercase">
            Final ~ Report
          </p>
          <p class="uppercase">
            Findings of this investigation
          </p>
          <p >
            <span class="uppercase" >The Charges:</span> Unicorn Hunt Fraud
          </p>
          <p>
            <span class="uppercase" >Details:</span> Vose and Charbonneau kept unicorns on the airship, "The Monster Pit" and had a secret pact with these unicorns to stage "unicorn sightings"
          </p>
          <p>
            This caused a bigger investigation into the Unicorn Guild's finances because a great deal of their income was from  wealthy patrons who paid to participate in real Unicorn hunts.
          </p>
          <p style="font-size: .6em; font-style: italic; line-height: 1.2em; margin-left: 20px; margin-right: 20px;">
            See Appendix D for a more detailed account of the financial investigation.
          </p>
        </div>
      </div>
      <div><!-- Page 8 - Book 1 "Final Report: Impact Assessment" -->
        <div class="padded-content bkfnt">
          <p class="uppercase">
            Impact Assessment:
          </p>
          <p >
            This public review of Guild activity further called into question whether the Guild has been diligent in fulfilling it's regulatory duties to protect mythical creatures, namely; unicorns.
          </p>
          <p>
            The guild has relied on it's aura of mystery and wonder to command respect and maintain its highly influential status in Portland. This embarrassment resulted in a dramatic loss of trust and status for the Guild and all it's members.
          </p>
        </div>
      </div>
      <div><!-- Page 9 - Book 1 "Final Report: Current State" -->
        <div class="padded-content bkfnt">
          <p class="uppercase">
            The Current State:
          </p>
          <p >
            Although the Guild has done a great deal to move on from this scandal and re-establish its former glory, some of the Guild's efforts were viewed as an attempt to further obscure the truth from the public. This resulted in backlash from several grassroots organizations.
          </p>
          <p>
            Most vehement among them is the "Unicorn Defense League" an activist group whose tactics have been criticized by many as being too extreme.
          </p>
          <p>
            Some worry that as tensions mount, conflict will continue to escalate.
          </p>
        </div>
      </div>
      <div><!-- Page 10 - Book 1 "Transition Page" -->
        <div class="padded-content bkfnt">
          <p >

          </p>
          <p>

          </p>
          <p>

          </p>
          <p>

          </p>
        </div>
      </div>

      <!-- ===============================================
      Appendix A: Public Scrutiny and Shock over virgin/slut "Unicorn Bait" useage
      =============================================== -->
      <div><!-- Page # - Book 1 "Appendix A: Public Scrutiny and Shock over virgin/slut "Unicorn Bait" useage" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            Appendix: A
          </p>
          <div class="padded-content bkfnt">
            <img src="/images/rainbowforest.jpg"></img>
          </div>
        </div>
      </div>
      <div><!-- Page 12 - Book 1 "Newspaper clipping for virgin ad" -->
        <div class="padded-content bkfnt">
          <img style="float:center; height: 400px;" src="/images/newspaper-v.jpg"></img>
          <!-- <p>
            Wanted; One Virgin, Pure of Body, Heart and Mind.
            <br>
            For one afternoon of Unicorn Hunting.
            You must be attuned to spiritual vibrations, work well with others, smell of cotton candy and lure small woodland creatures to you in droves.
            <br>
            Preferred Skills:
            Ability to sing, play the harpsichord and hum sweetly.
            This is a volcano free work environment.
            <br>
            Interested individuals send applications to;
            Teiden Von Steubing
            Assistant Undersecretary to the Dean of the Unicorn Hunting Guild
            emstillman@yahoo.com
          </p> -->
        </div>
      </div>
      <div><!-- Page 13 - Book 1 "Newspaper clipping for slut ad" -->
        <div class="padded-content bkfnt">
          <img style="float:center; height: 400px;" src="/images/newspaper-s.jpg"></img>
          <!-- <p>
            Wanted: One Slut. A dirty, dirty slut.
            <br>
            Do you not need a reason to have sex, just a place?
            If so, we are looking for you!
            <br>
            Preferred Qualities:
            Lack of appropriate boundaries. Insatiable sexual appetite. Lusty, bawdy and buxom.
            Costumes, toys and props are highly encouraged. Dominatrices given special preference.
            This is judgment free workplace. And we have been very, very naughty.
            <br>
            Interested individuals send applications to;
            Teiden Von Steubing
            Assistant Undersecretary to the Dean
            of the Unicorn Hunting Association
            emstillman@yahoo.com
          </p> -->
        </div>
      </div>
      <div><!-- Page 14 -Book 1 "Newspaper Expose on Unicorn Hunter "Unicorn Bait" methods" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            Expose
          </p>
          <p class="uppercase">
            Is Chuck Vose, World Famous Unicorn Tamer, Exploiting Sluts and Vigins?
          </p>
          <p>
            Is Chuck Vose using virgins and sluts as Unicorn Bait in pursuit of his own twisted agenda?  Do we really want a man who exploits virgins and sluts indiscriminately as a role model for our communities' young people?
            Allegations abound that Vose is using his skill for the black market sale of Unicorn Horn. Has he been dabbling in the illegal use of Horn in healing potions and other cures?
          </p>
        </div>
      </div>
      <div><!-- Page 15 -Book 1 "Newspaper Expose on Unicorn Hunter "Unicorn Bait" methods" -->
        <div class="padded-content bkfnt">
          <p>
            Certainly, he denies all accusations but we have to wonder, he does seem overly preoccupied with the healing benefits and merits of the magical and magnificent Unicorn Horn. Have we misplaced our faith in him?
            You be the judge.
          </p>
          <p>
            This information combined with the tragic events of 2005, we have to wonder if Chuck Vose has something to prove? Is he truly recovered from his dark past or has he he gotten back into his old reckless ways?
          </p>
          <p>
            Though he would like us to believe that is all past and gone,  is this just a new iteration of last time where we watch as he uses people recklessly?
          </p>
          <p>
            Is he bound for more disaster?
          </p>
        </div>
      </div>
      <div><!-- Page 15 -Book 1 "Public statement by Chuck Vose re: newspaper expose" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            Public Statement <br><span class="bkfnt" style="font-size: .4em;">by Chuck Vose:</span>
          </p>
          <p class="uppercase" style="text-align: center;">
            The Involvement of Consenting Adults is NOT Exploitation
          </p>
          <p>
             What you read was old literature. Times change and our literature changes with us. Those instructions were from a text I wrote over 200 years ago when virgins were plentiful and people were a lot tougher.
          </p>
          <p>
             When that text was written, getting shot in the shoulder was no big deal, it happened all the time.  Additionally, we have a lot more sluts now and they attract Unicorns even better.
          </p>
        </div>
      </div>
      <div><!-- Page 16 -Book 1 "Public statement by Chuck Vose re: newspaper expose" -->
        <div class="padded-content bkfnt">
          <p>
             It's a puritanical lie that Unicorns are only drawn to virgins - they actually prefer sluts.
          </p>
          <p>
             Furthermore, with better technology, greater understanding of the psychic plane and the ability to speak with the spirits at the burial grounds,  we no longer need to shoot the virgin in the shoulder with an arrow.... or at all.  A simple combination of non-violent methods render much more efficient and socially acceptable results.
          </p>
          <p>
            The excursion planned for November 20th  is purely non-violent. No virgins or sluts will be injured or exploited in any way whatsoever. All of the participants in my expedition are adults. Consenting adults. And I hold that consent is not exploitation.
          </p>
        </div>
      </div>
      <div><!-- Page 17 -Book 1 "Public statement by Chuck Vose re: nespaper expose" -->
        <div class="padded-content bkfnt">
          <p>
            Regarding the reference to the events of 2005; There were extenuating circumstances that were not explained at all in what you read.  We were under a lot of pressure to find unicorns and Portland is notoriously short on virgins ... who are also of legal age to consent to participating in expeditions.
          </p>
          <p>
            We made the best decisions we could at the time. Those who weren't there shouldn't judge us.
          </p>
          <p>
            Anyone who doubts my methods or my integrity as a Unicorn Trainer is welcome to join the viewing portion of my expedition to see first hand how I operate.  There really is no better way to understand the majesty of the handsomest of equine nor the purity of my methods.
          </p>
        </div>
      </div>

      <!-- ===============================================
      Appendix B: Chuck's return to the Unicorn Hunt Scene
      =============================================== -->
      <div><!-- Page # - Book 1 "Appendix B: Chuck's return to the Unicorn Hunt Scene" -->
        <div class="padded-content bkfnt">
          <p span class="bkfnt-header uppercase">
            Appendix: B
          </p>
          <div class="padded-content bkfnt">
            <img src="/images/rainbowforest.jpg"></img>
          </div>
        </div>
      </div>
      <div> <!-- Page 2 - Book 1 "Unicorn Trainer Description" -->
        <div class="padded-content bkfnt">
          <img style="float: left; margin-right: 15px; height: 250px;" src="/images/chuck2.jpg"></img>
          <p>
            <span class="dropcap">U</span>nicorn trainers are highly qualified professionals who stand between us and anarchy. They feed the Unicorns under their responsibility with fairy dust and carrots.
          </p>
          <p>
            Unicorn trainers also read these magnificent, mythological creatures bedtime stories at night and brushing the Unicorn twenty seven times a day. Strictly speaking, the crucial part is keeping the Unicorn happy and making sure it doesn't run out of dental floss. Unicorn trainers remain today, as in ancient times, elusive, moving among us largely unknown. Unknown but for one man.
          </p>
        </div>
      </div>
      <div><!-- Page 3 - Book 1 "Chuck's Return - Announcement" -->
        <div class="padded-content bkfnt">
          <img style="float: left; margin-right: 15px; height: 200px;" src="/images/baron2.jpg"></img>
          <p>
            <span class="dropcap">N</span>ever before had the world seen the skill and dexterity in handling and training of Unicorns as that of Chuck Vose, the most famous of all Unicorn trainers.
          <p>
            November 1770, Chuck Vose returned to the source. This was an epic moment in Unicorn history when Chuck Vose proved that Unicorns still exist in Portland. Together with is crew, and his assistant, Teiden, Chuck Vose changed the course of modern unicorn history.
          </p>
        </div>
      </div>
      <div><!-- Page 4 - Book 1 "Public Speculation about Chuck's Return Expedition" -->
        <div class="padded-content bkfnt">
          <img style="float: right; margin-right: 15px; height: 350px;" src="/images/chuck3.jpg"></img>
          <p>
            <span class="dropcap">E</span>ye-witnesses accounts verify that Chuck's crew was assembled in secret meetings with old Unicorn training friends and certain key players in the secretive Unicorn training world. All that remains of this part of history is a single application to join the crew.
          </p>
        </div>
      </div>
      <div><!-- Page 5 - Book 1 "Application to Join the Expedition" -->
        <div class="padded-content bkfnt">
          <img style="float: left; margin-right: 15px; height: 160px;" src="/images/tyler.jpg"></img>
          <p>
            <span class="dropcap">M</span>any would take this resume as an opportunity to exaggerate their accomplishments, in hopes of attaining undeserved respect.
          </p>
          <p>
            Those aren't the sort you need on this expedition. Instead, you need someone with moxie, verve, and–most of all–pluck. In a word–me.
          </p>
          <p>
            I've hunted kraken in the polar north, bowled with minotaurs, and feasted up on the Vegetable Lamb of Tartary. I once spent seven days trapped in the nest of a thunderbird, my only sustenance the lightning-lice with which it was infested. I have glimpsed the sane Republican.
          </p>
        </div>
      </div>
      <div><!-- Page 6 - Book 1 "Application to Join the Expedition" -->
        <div class="padded-content bkfnt">
          <p>
            <span class="dropcap">T</span>he "rare" and "mythological" are what I live and breathe.  
          </p>
          <p>
            My skills include fletching, filching, and flensing. I can hold my breath for ten minutes, a skill learned while sailing with the mighty pirate, Guybrush Threepwood. I have a preternatural sense of timing, and an uncanny ability to take sole credit for group endeavors.
          </p>
          <p>
            I lead both by example and shouting, adapting as necessary to the situation.  I could go on, but why? If you're serious about success, then you need a serious man. And if you need a serious man, you need Tyler Sellon, BS.   <br>
            For job offers, accolades, or clarifying questions, please do not to hesitate to contact me at this address.  
          </p>
          <p>
            Tyler Sellon.  <br>(References available upon request)
          </p>
        </div>
      </div>

        <!-- ===============================================
        Appendix C: Exclusive Interview with CHuck Vose
        =============================================== -->
        <div><!-- Page # - Book 1 "Appendix C: Exclusive Interview with CHuck Vose" -->
          <div class="padded-content bkfnt">
            <p span class="bkfnt-header uppercase">
              Appendix: C
            </p>
            <div class="padded-content bkfnt">
              <img src="/images/rainbowforest.jpg"></img>
            </div>
          </div>
        </div>
        <div><!-- Page 7 - Book 1 "Interview with Chuck Vose-1" -->
          <div class="padded-content bkfnt">
            <p>
              <span class="dropcap">E</span>xclusive Interview with Chuck Vose,
              Internationally known Unicorn Trainer
            </p>
            <p>
              He shared with us some insights about Unicorns, Portland and most   importantly,  his expedition scheduled for later this month. Mr. Vose,  do you believe there  really are unicorns in Portland still?
            </p>
            <blockquote>
              "I think that Portland has a strong history of Unicorns but I don’t   think   they've been seen in a little while. Outside of, obviously  unicorn trainers   and the occasional ethereal vestige in the cloud  form that we've all seen."
            </blockquote>
            <p>
              Have you ever seen a Unicorn?
            </p>
            <blockquote>
              "Of course,  of course. You'll see them under the underpasses   sometimes   frolicking and they like to get in the way of traffic.   They're here."
            </blockquote>
          </div>
        </div>
        <div><!-- Page 8 - Book 1 "Interview with Chuck Vose-2" -->
          <div class="padded-content bkfnt">
            <p>
              <span class="dropcap">R</span>umors abound regarding your proposed expedition this November, 1610.What   can you tell us about this expedition?
            </p>
            <blockquote>
              "I'm not prepared to say anything about that at this point."
            </blockquote>
            <p>
              People certainly are loving this! There has been much media attention   and   speculation, What do you have to say about all the hype?
            </p>
            <blockquote>
              "I can't say I'm surprised, really. Unicorns are pretty special.  But I'm also excited! Its going to be an interesting  event. I hope to  see a lot of Unicorns. I'm going to be calling on a  couple of friends to   really trot out their stuff, if you know what I   mean."
            </blockquote>
          </div>
        </div>
        <div> <!-- Page 9 - Book 1 "Interview with Chuck Vose-3" -->
          <div class="padded-content bkfnt">
            <p>
              <span class="dropcap">W</span>hat would you say are your chances of actually sighting unicorns   this  November 20th?
            </p>
            <blockquote>
              "I think they're pretty good, but we'll see,  you know there's  some dangers out there. Unicorns are pretty wary -   they don't like to be  seen, but you know, we've got some history so   hopefully we can make this happen."
            </blockquote>
            <p>
              How do you respond to challenges from the elusive Unicorns training community that you going public undermines everything they have  worked for?
            </p>
            <blockquote>
              "Ha, they're all sissies, really."
            </blockquote>
            <p>
              Certainly we're hearing a lot about unicorns right now, but tell us,  have you   seen a significant change in public opinion and attitudes   about Unicorns over   the past 10 years?
            </p>
          </div>
        </div>
        <div><!-- Page 10 - Book 1 "Interview with Chuck Vose-4" -->
          <div class="padded-content bkfnt">
            <blockquote>
              <span class="dropcap">"O</span>h, yeah, it's been absolutely crazy.  I mean you've seen all the  hype around  well,  that famous poster about the ancient Unicorn   burial ground - which is   true! It's totally true. But, people   haven't really talked about it in the past, but recently, I've  seen a resurgence of Unicorns love.
            </blockquote>
            <p>
              Reports are coming out that you are being very secretive and selective  in your  expedition crew... Can you tell us about your vision for this expedition crew?
            </p>
            <blockquote>
              "Everyone has been very carefully selected for their prowess with   certain supernatural and preternatural abilities. We've got at least  one ghost  training as well as some ghost hunters which should make  for an interesting  experience between the two of them.
            </blockquote>
          </div>
        </div>
        <div><!-- Page 11 -Book 1 "Interview with Chuck Vose-5" -->
          <div class="padded-content bkfnt">
            <blockquote>
              <span class="dropcap">T</span>hen we've  also got some animal   whisperers and since, as you know, unicorns really like innocents, I'm trying to find at least one virgin as well.
              <br><br>
              I've really worked on group cohesiveness more than anything.  I've tried  to put   together a lot of mathematicians and engineers. Unicorns  really like building   little tiny bridges that they can stomp on so I   thing the engineers will be   able to help out with that a lot.
            </blockquote>
            <p>
              And perhaps the most important questions of all; Do you Really believe  you'll   be able to find a virgin?
            </p>
            <blockquote>
              Ha! It's difficult, I mean you have to sift through all the applications from people who claim to be, but aren't...
            </blockquote>
          </div>
        </div>

        <!-- ===============================================
        Appendix D: Detailed Account of Unicorn Guild Financial Report
        =============================================== -->
        <div><!-- Page # - Book 1 "Appendix D: Detailed Account of Unicorn Guild Financial Report" -->
          <div class="padded-content bkfnt">
            <p span class="bkfnt-header uppercase">
              Appendix: D
            </p>
            <div class="padded-content bkfnt">
              <img src="/images/rainbowforest.jpg"></img>
            </div>
          </div>
        </div>
        <div> <!-- Page 2 - Book 1 "Detailed Account of Unicorn Guild Financial Report-1" -->
          <div class="padded-content bkfnt">
            <p class="uppercase">
              Unicorn Guild Financial Report Summary
            </p>
            <p>
              <p class="bkfnt-tiny">
              For centuries, the City of London; Portland Chapter of the Unicorn Guild (also known as "Livery Company" in London) had been piling up fortunes in secret.
            </p>
            <p class="bkfnt-tiny">
              They are some of the most powerful organizations in the City of London,and in Portland controlling billions in assets. Their members dress up in medieval steampunk costumes at every opportunity and are loyal custodians of traditions and ceremonial practices laid down more than 600 years ago.
            </p>
            <p class="bkfnt-tiny">
              But the wealth and influence of the City of London's ancient livery companies and Portland's own Unicorn Guild are almost totally unknown to the uninitiated. Most operate from low-key guild halls in the Square Mile and their membership lists are often closely guarded secrets.
            </p>
            <p class="bkfnt-tiny">
              But in 2005, the foremost livery company, The Unicorn Guild was called upon to  break with tradition and publish an annual review of its activities.
            </p>
            <p class="bkfnt-tiny">
              It made for startling reading. The accounts show that at the end of December 2005, the company had £454.6m of assets under management, a rise of £42m on the year before. Out of that total, £315.6m was in property and other fixed assets, including an extensive residential portfolio in Covent Garden and the Royal Exchange complex, the grandest shopping arcade in the City.
            </p>
            <p class="bkfnt-tiny">
              The Guild, it was revealed had £78.5m in quoted assets, up from £66.5m in the previous year. If the Guild were a quoted investment trust, it would rank as one of the largest in the UK.
            </p>
          </div>
        </div>
        <div> <!-- Page 2 - Book 1 "Detailed Account of Unicorn Guild Financial Report-2" -->
          <div class="padded-content bkfnt">
            <p class="bkfnt-tiny">
              The clerk at the Unicorn Guild, who asked to remain anonymous, says: "It is fair to say that people were fairly staggered by the scale of Guild's assets when they were published."
            </p>
            <p class="bkfnt-tiny">
              Although no figures exist, it is estimated that total assets held by the Unicorn Guild along with the other 107 Livery Companies could total £2bn.
            </p>
            <p class="bkfnt-tiny">
              Those involved with livery companies believe that after the Unicorn Guild, the Cloth Workers, Grocers, Drapers, Fishmongers, Goldsmiths and Leather-sellers are the richest, although no one knows which has the most assets.
            </p>
            <p class="bkfnt-tiny">
              And Companies are full of distinguished names from the City. Lord George of St Tudy, the former governor of the Bank of England, and Sir Brian Pitman, the former chairman of Lloyds TSB, are both court members at the Company of International Bankers.
            </p>
            <p class="bkfnt-tiny">
              The Unicorn Guild was incorporated by Royal Charter in 1394. A Guild Member was by definition was a trainer of Unicorns, although the last time a trainer was admitted as an apprentice to the Guild was 1888.
            </p>
            <p class="bkfnt-tiny">
              Like other Livery Companies, the Unicorn Guild derives its 12th and 13th-century origins from a secret society that sprang up around unicorn sightings.
            </p>
            <p class="bkfnt-tiny">
              These fraternities then became powerful trading guilds that often enjoyed monopolistic rights over a particular commodity, such as fish, while remaining true to their mystical origins by seeking out realted mythical creatures.
            </p>
            <p class="bkfnt-tiny">
              From 1560 onwards a guild secured its livery status from the Court of Aldermen who had to be satisfied that "a number of men of good repute from some trade or mystery not already represented by an existing guild have joined together for a time sufficiently long to justify the belief that they will continue to hold together and are not likely to fall apart from lack of interest or support".
            </p>
          </div>
        </div>
        <div> <!-- Page 2 - Book 1 "Detailed Account of Unicorn Guild Financial Report-3" -->
          <div class="padded-content bkfnt">
            <p class="bkfnt-tiny">
              Guilds (or Livery Companies) are governed by a master, a number of wardens and a court of assistants, which elects the master and wardens. The chief executive officer of the company is known as the clerk.
            </p>
            <p class="bkfnt-tiny">
              And several modern phrases have their origins in the history of livery Companies. For example, the expression "at sixes and sevens" comes from a medieval dispute over precedence in order of receiving livery status from the City of London between the Merchant Taylors and the Skinners. The 16th-century Lord Mayor of the day decided that the two would be ranked six and seven in alternate years as a way of resolving the argument.
            </p>
            <p class="bkfnt-tiny">
              And the expression "a baker's dozen" to mean 13, originated in the days when the Bakers' guild strictly monitored the standard of bread.
            </p>
            <p class="bkfnt-tiny">
              From the time they were founded until the present day, livery companies have secured funding from rich benefactors, often in the form of property, and the complex interest on their assets over the space of 600 years has created some exceedingly wealthy organizations.
            </p>
            <p class="bkfnt-tiny">
              The Unicorn Guild and a few of the livery Companies still have regulatory duties. The Fishmongers, for example, still monitor standards of hygiene at Billingsgate fish market while the Goldsmiths still check coins issued by the Royal Mint.
            </p>
            <p class="bkfnt-tiny">
              Meanwhile the Vintners and Dyers annually get decked out in ceremonial garb and take a row boat up the Thames to count the number of swans – a practice known as "swan-upping".
            </p>
            <p class="bkfnt-tiny">
              The Unicorn Guild is charged with the keeping and protection of all mythical creatures and in particular the unicorns.
            </p>
          </div>
        </div>
        <div> <!-- Page 2 - Book 1 "Detailed Account of Unicorn Guild Financial Report-4" -->
          <div class="padded-content bkfnt">
            <p class="bkfnt-tiny">
              The livery companies also approve the preferred candidates to become Lord Mayor of London.
            </p>
            <p class="bkfnt-tiny">
              As livery companies are founded by royal charter, they are under no obligation to file any records at Companies House. They are only accountable to their membership and the ways in which they spend their millions is totally discretionary. The power of the Financial Services Authority, the City watchdog, does not extend to candle-lit Company dining halls.
            </p>
            <p class="bkfnt-tiny">
              Although the Unicorn Guild was publicly pressured into publishing a detailed breakdown of its activities, other companies such as the Mercers have voluntarily opted to follow suit. This is further evidence that the livery companies are adopting a more modern and transparent approach when it comes to their financial activity.
            </p>
            <p class="bkfnt-tiny">
              Keith Waters, clerk at the Company of Fishmongers, says: "The change is coming from the members themselves. Accountability is something we now all face in our working lives."
            </p>
            <p class="bkfnt-tiny">
              He adds: "Simply put, what was acceptable before, is less acceptable now. The livery companies have been here for centuries. They are nothing less than part of the fabric which underpins the City of London and Portland."
            </p>
            <p class="bkfnt-tiny">
              Adapted from an article printed by: The UK New Organization; "The Telegraph"
              http://www.telegraph.co.uk/finance/2948232/Lifting-the-lid-on-the-liveries.html
            </p>
          </div>
        </div>


      <div class="hard">
        <div class="padded-content bkfnt">This page left blank</div>
      </div>
      <div class="hard">
        <div class="padded-content bkfnt">Back cover</div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
// TODO: Page texture (ed: edit `.page` in book.css)
// TODO: Bump in the middle of the book (ed: difficult)
// √ TODO: Graceful page turn
// √ TODO: Take up the full area
// TODO: Take up the full area, up to a certain size (ed: out of time)
var flipbook = $('.flipbook');

$('.flipbook .double').scissor();
$('.flipbook').turn({
  elevation: 50,
  gradients: true,
  duration: 1500,
  accelleration: true
});

$(document).keydown(function(e){
  var previous = 37, next = 39;

  switch (e.keyCode) {
    case previous:
      $('.flipbook').turn('previous');
      break;
    case next:
      $('.flipbook').turn('next');
      break;
  }
});
</script>