---
layout: book
---

<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook">
      <div class="hard">
        <div class="padded-content">Front cover</div>
      </div>
      <div class="hard">
        <div class="padded-content">This page has to be here to make the cover
          "hard" on both sides. Otherwise pressing left arrow will make a
          page turn motion instead of a hard-cover turn motion.</div>
      </div>
      <div>
        <div class="padded-content">Anything with class "padded-content" will
          have padding put around it.</div>
      </div>
      <div class="double">
        <div class="padded-content">This is an example of a full-width double page.</div>
        <div class="padded-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div>
        <div class="padded-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div>
        <div class="padded-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div>
        <div class="padded-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div>
        <div class="padded-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div>
        <div class="padded-content">This page left blank</div>
      </div>
      <div class="hard">
        <div class="padded-content">This page left blank</div>
      </div>
      <div class="hard">
        <div class="padded-content">Back cover</div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
// TODO: Page texture (ed: edit `.page` in book.css)
// TODO: Bump in the middle of the book (ed: difficult)
// √ TODO: Graceful page turn
// √ TODO: Take up the full area
// TODO: Take up the full area, up to a certain size (ed: out of time)
var flipbook = $('.flipbook');

$('.flipbook .double').scissor();
$('.flipbook').turn({
  elevation: 50,
  gradients: true,
  duration: 1500,
  accelleration: true
});

$(document).keydown(function(e){
  var previous = 37, next = 39;

  switch (e.keyCode) {
    case previous:
      $('.flipbook').turn('previous');
      break;
    case next:
      $('.flipbook').turn('next');
      break;
  }
});
</script>