<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/stylesheets/vendor/magnific-popup.css">

<!-- Magnific Popup core JS file -->
<script src="/javascripts/vendor/jquery.magnific-popup.js"></script>


<div class="background">
  <div class="background-container">
    <div class="sparklebox">
      <div>
       <a class="popup-inline" href="#test-popup">
         <img class="sparklebox" src="/images/sparkles.png" width="100" height="auto">
        </a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="info-sign">
      <div>
       <a class="image-popup-vertical-fit" href="https://www.dropbox.com/s/mukawk4nzhupp7d/infocard.png?dl=1">
         <img src="/images/infocard.png" width="100" height="auto">
        </a>
      </div>
    </div>
  </div>
</div>



<div id="test-popup" class="white-popup mfp-hide">
  <div class="clearfix">
    <div class="background3">
      <div>
        <a href="/riddle-id1.html"><img class="fun-with-blocks" src="/images/1-goggles.png"></img></a>
        <a href="/riddle-id2.html"><img class="fun-with-blocks" src="/images/2-goggles.png"></img></a>
        <a href="/riddle-id3.html"><img class="fun-with-blocks" src="/images/3-goggles.png"></img></a>
        <a href="/riddle-id4.html"><img class="fun-with-blocks" src="/images/4-goggles.png"></img></a>
        <a href="/riddle-id5.html"><img class="fun-with-blocks" src="/images/5-goggles.png"></img></a>
        <a href="/riddle-id6.html"><img class="fun-with-blocks" src="/images/6-goggles.png"></img></a>
        <a href="/riddle-id7.html"><img class="fun-with-blocks" src="/images/7-goggles.png"></img></a>
      </div>
      <div>
        <p class="intro6" style="font-size: 3em; color: rgb(84,28,7);">
          The Riddle of the Seven Goggles
        </p>
        <P class="intro5">
          Knowledge lies before you, while ignorance lies behind,<br>
          Two of us will help you, whichever you would find,
        </p>
        <p class="intro5">
          One among us seven will let you move ahead,<br>
          Another will transport the wearer back instead,
        </p>
        <p class="intro5">
          Two among our number are purely for design,<br>
          Three of us are cursed, waiting hidden in line.
        </p>
        <p class="intro5">
          Choose, unless you wish to stay here for evermore,<br>
          To help you in your choice, we give you these clues four:
        </p>
        <p class="intro5">
          First, however slyly the cursed spectacles try to hide<br>
          You will always find some on design’s left side;
        </p>
        <p class="intro5">
          Second, different are those who stand at either end,<br>
          But if you would move onwards, neither is your friend;
        </p>
        <p class="intro5">
          Third, as you see clearly, all are different size,<br>
          Neither dwarf nor giant bears death as their wearer's prize;
        </p>
        <p class="intro5">
          Fourth, the second left and the second on the right<br>
          Are twins once you wear them, though different at first sight.
        </p>
      </div>
    </div>
  </div>
</div>

