
<!-- Begin Head Image -->
<div class="fullwidthbanner-container">
    <div> <img src="images/brickwallclosed.png" alt="" />

  <!-- Begin Info Sign -->
  <div style="position:absolute;left:337px;top:206px;z-index:1;">
    <div class="toggle"></div>
      <ul class="items isotope" style="position: relative; overflow: hidden; height: 744px;">
        <li class="item people isotope-item" rel="0" style="position: relative; transform: translate3d(0px, 0px, 0px);"> <a class="fancybox-media" src="images/infocard.png" rel="portfolio" data-title-id="title-01"><span style="display: none;"></span> <img src="images/infocard.png" alt=""> </a>
        </li>
      </ul>
    </div>
    <!-- End Info Sign -->

    <!-- Begin Treasure Chest -->
    <div style="position:absolute;left:650px;top:146px;z-index:1;">
        <ul class="items2 isotope" style="position: relative; overflow: hidden; height: 744px;">
          <li class="item macro isotope-item" rel="0" style="position: relative; transform: translate3d(0px, 0px, 0px); padding-left: 0px"> <a class="fancybox-media" src="images/box.png"  rel="portfolio" data-title-id="title-01"><span class="more2" style="display: none;"></span> <img style="width:90px; height: 68px;" src="images/box.png" alt=""> </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Treasure Chest -->

</div>
