<!-- Begin Head Image -->
<div class="head-image"> <img src="images/dials.jpg" alt="" />
  <div class="page-title">
    <div><span class="intro4" style="font-size: .7em; bottom: 4em">“Come a day there won’t be room for naughty men like us to slip about at all. <br>This job goes south, there well may not be another. So here is us, on the raggedy edge. <br> Don’t push me, and I won’t push you. Dong le ma?”</span> <small class="intro4" style="font-size: .5em; bottom: 4em"> – Capt. Malcolm Reynolds, Serenity</small></div>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin ZetaSlider -->
<div class="zetaSlider zetaTop" id="zetaSlider">
  <div class="thumbnail-wrapper col2">
    <ul class="zetaThumbs clearfix">
      <li data-id="people" class="item"> <a href="gallery-people.html"><img src="images/art/gallery-people.jpg" alt="" /></a>
        <div class="text">
          <h4>People</h4>
          <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </li>
      <li data-id="macro" class="item"> <a href="gallery-macro.html"><img src="images/art/gallery-macro.jpg" alt="" /></a>
        <div class="text">
          <h4>Macro</h4>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus.</p>
        </div>
      </li>
      <li data-id="nature" class="item"> <a href="gallery-nature.html"><img src="images/art/gallery-nature.jpg" alt="" /></a>
        <div class="text">
          <h4>Nature</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</p>
        </div>
      </li>
      <li data-id="stilllife" class="item"> <a href="gallery-still-life.html"><img src="images/art/gallery-stilllife.jpg" alt="" /></a>
        <div class="text">
          <h4>Still Life</h4>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="zetaHolder">
    <div class="zetaWrapper">
      <div class="zetaEmpty isDraggingFalse">
        <!-- populated by script -->
      </div>
    </div>
    <div class="zetaControls"> <a class="zetaBtnClose" href="#">Close</a> <a class="zetaBtnPrev" href="#">Previous</a> <a class="zetaBtnNext" href="#">Next</a> </div>
    <div class="zetaWarning">
      <div class="navigate">Navigate by</div>
      <div class="drag">Dragging</div>
      <div class="arrow">Arrows</div>
      <div class="keys">Keyboard</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!-- End ZetaSlider -->
<div class="clear"></div>

  <!-- End Container -->
</div>
<!-- End Wrapper