
<div class="background">
  <div class="background-container">
    <div class="sparklebox">
      <div>
       <a class="image-popup-vertical-fit" src="/images/sparkles.png">
         <img class="sparklebox" src="/images/sparkles.png" width="100" height="auto">
        </a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="info-sign">
      <div>
       <a class="image-popup-vertical-fit" href"https://www.dropbox.com/s/mukawk4nzhupp7d/infocard.png?dl=0">
         <img src="/images/infocard.png" width="100" height="auto">
        </a>
      </div>
    </div>
  </div>
</div>




<!-- <div class="clear"></div>

   <a class="image-popup-fit-width" href="http://farm9.staticflickr.com/8379/8588290361_ecf8c27021_b.jpg" title="This image fits only horizontally.">
     <img src="http://farm9.staticflickr.com/8379/8588290361_ecf8c27021_s.jpg" width="75" height="75">
   </a>
   <a class="image-popup-no-margins" href="http://farm4.staticflickr.com/3721/9207329484_ba28755ec4_o.jpg">
     <img src="http://farm4.staticflickr.com/3721/9207329484_ba28755ec4_o.jpg" width="107" height="75">
   </a>
 </div>
 -->



    <!-- Begin Treasure Chest -->
  <!--   <div style="position:relative;left:650px;top:146px;z-index:1;">
        <ul class="items2 isotope" style="overflow: hidden; height: 744px;">
          <li class="item macro isotope-item" rel="0" style="position: relative; transform: translate3d(0px, 0px, 0px); padding-left: 0px"> <a class="fancybox-media" src="images/box.png"  rel="portfolio" data-title-id="title-01"><span class="more2" style="display: none;"></span> <img style="width:90px; height: 68px;" src="images/box.png" alt=""> </a>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- End Treasure Chest -->

<!-- </div> -->
