<!-- Begin Head Image -->
<div class="head-image"> <img src="images/control-panel.jpg" alt="" />
  <div class="page-title">
    <div><span class="uppercase">“The game is afoot.”</span> <small>– Arthur Conan Doyle, Sherlock Holmes</small></div>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro center"><p>Join the Steampunk Pirate Mystery Adventure Party<br></div></p>
  <div class="one-half first">
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2794.7427540352223!2d-122.697574!3d45.535382!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcce8ab3bef0a877c!2sThe+Freakybuttrue+Peculiarium+and+Museum!5e0!3m2!1sen!2sus!4v1411033290728" width="450" height="470" frameborder="0" style="border:0"></iframe>
  </div>
  <div class="one-half last intro2">
    <p><span class="dropcap">M</span>eet.<br> <small>5:00pm on Saturday October 11th, 2014<br>
        at the Peculiarium on NW Thurman.</small></p>

    <p class="intro4"><span class="dropcap">B</span><small >iking.<br> This is a biking adventure with options to bike less or not at all. Efforts will be made to help coordinate biking gear.</small></p>

    <p class="intro4"><span class="dropcap">D</span><small>uration.<br> The event is expected to run about until 9pm. With after party to follow. You can elect to participate for all or part of the event.</small></p>
  </div>
  <div class="clear"></div>
  <div>
    <p class="wrapper intro2"><span class="dropcap">T</span>o indicate your event participation preferences, please complete the <a href="https://docs.google.com/a/newrelic.com/forms/d/18-Tu7TbnYUWux7oSwm-8uSMIJVEC0AmKBk-h9CFN2e4/viewform?usp=send_form"><span class="intro3">R.S.V.P. form</span></a>.

    <p class="intro2"><span class="dropcap">A</span><small>ttire.<br> The theme is built around the story and you are HIGHLY encouraged to attempt a costume (or ask Erica for help). For ideas and inspiration check out the <a href="http://www.pinterest.com/elauervose/mystery-adventure-party/">Mystery Adventure Pinterest board</a>.</small></p>

    <p class="intro2"><span class="dropcap">S</span><small>tory.<br> The best part is the group story telling. Read through the <a href="backstory.html">Backstory</a> to find out what ground was laid in 2010. Follow the <a href="https://twitter.com/search?q=%23unicornmystery&src=typd">twitter hashtag "unicornmystery"</a> to learn about the players in this unfolding mystery.</small></p>
  </div>
  <hr>
</div>
<!-- End Wrapper