
<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro uppercase center">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</div>

  <!-- Begin Container -->
  <div class="container">

    <!-- Begin Gallery Content -->
    <div class="content single-portfolio-content">
      <div><img src="gallery/nature/1.jpg" alt="" /></div>
      <div><img src="gallery/nature/2.jpg" alt="" /></div>
      <div><img src="gallery/nature/3.jpg" alt="" /></div>
      <div><img src="gallery/nature/4.jpg" alt="" /></div>
      <div><img src="gallery/nature/5.jpg" alt="" /></div>
      <div><img src="gallery/nature/6.jpg" alt="" /></div>
    </div>
    <!-- End Gallery Content -->

  </div>
  <!-- End Container -->
</div>
<!-- End Wrapper -->

</body>
</html>