

<!-- Begin Head Image -->
<div class="head-image"> <img src="style/images/art/head1.jpg" alt="" />
  <div class="page-title">
    <h1>People</h1>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro uppercase center">Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur.</div>

  <!-- Begin Container -->
  <div class="container">

    <!-- Begin Gallery Content -->
    <div class="content single-portfolio-content">
      <div><img src="gallery/people/1.jpg" alt="" /><span class="caption">
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </span></div>
      <div><img src="gallery/people/2.jpg" alt="" /></div>
      <div><img src="gallery/people/3.jpg" alt="" /></div>
      <div><img src="gallery/people/4.jpg" alt="" /></div>
      <div><img src="gallery/people/5.jpg" alt="" /></div>
      <div><img src="gallery/people/6.jpg" alt="" /></div>
      <div><img src="gallery/people/7.jpg" alt="" /></div>
    </div>
    <!-- End Gallery Content -->

  </div>
  <!-- End Container -->
</div>
<!-- End Wrapper -->


</body>
</html>