

<!-- Begin Head Image -->
<div class="head-image"> <img src="style/images/art/head1.jpg" alt="" />
  <div class="page-title">
    <h1>Still Life</h1>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro uppercase center">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna.</div>

  <!-- Begin Container -->
  <div class="container">

    <!-- Begin Gallery Content -->
    <div class="content single-portfolio-content">
      <div><img src="gallery/still-life/1.jpg" alt="" /></div>
      <div><img src="gallery/still-life/2.jpg" alt="" /></div>
      <div><img src="gallery/still-life/3.jpg" alt="" /></div>
      <div><img src="gallery/still-life/4.jpg" alt="" /></div>
      <div><img src="gallery/still-life/5.jpg" alt="" /></div>
      <div><img src="gallery/still-life/6.jpg" alt="" /></div>
      <div><img src="gallery/still-life/7.jpg" alt="" /></div>
      <div><img src="gallery/still-life/8.jpg" alt="" /></div>
    </div>
    <!-- End Gallery Content -->

  </div>
  <!-- End Container -->
</div>
<!-- End Wrapper -->


</body>
</html>