
<body class="single">
<!-- Begin Header -->

<!-- Begin Head Image -->
<div class="head-image"> <img src="images/art/head1.jpg" alt="" />
  <div class="page-title">
    <h1>Macro</h1>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro uppercase center">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus.</div>

  <!-- Begin Container -->
  <div class="container">

    <!-- Begin Gallery Content -->
    <div class="content single-portfolio-content">
      <div><img src="gallery/macro/1.jpg" alt="" /></div>
      <div><img src="gallery/macro/2.jpg" alt="" /></div>
      <div><img src="gallery/macro/3.jpg" alt="" /></div>
      <div><img src="gallery/macro/4.jpg" alt="" /></div>
      <div><img src="gallery/macro/5.jpg" alt="" /></div>
      <div><img src="gallery/macro/6.jpg" alt="" /></div>
      <div><img src="gallery/macro/7.jpg" alt="" /></div>
    </div>
    <!-- End Gallery Content -->

  </div>
  <!-- End Container -->
</div>
<!-- End Wrapper -->

</body>
</html>