<!-- Begin Head Image -->
<div class="head-image"> <img src="images/dials.jpg" alt="" />
  <div class="page-title">
    <div><span class="uppercase">“The game is afoot.”</span> <small>– Arthur Conan Doyle, Sherlock Holmes</small></div>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">

  <div class="one-half">
    <p class="intro-left"><span class="dropcap">M</span>eet the Players</p>
    <img class="center" src="/images/unicorn-guild-shield2.png"></img>
    <p class="center">
      <span class="intro3" style="font-size: 3em;">The Unicorn Guild</span><br>
      <span class="uppercase intro2" style="font-size: 120%;">Unicornium Intus Vero Corde Credentis</span><br>
      <span style="font-style: italic; font-size: 100%;">"Unicorns live inside the true believer's heart"</span>
    </p>

      <p>The Unicorn Guild is the most ancient of the guilds. It was established by Royal Charter granted by King Charles 1 in 1631 and is one of the Great Twelve Guilds with a long history closely connected to the development of the City of Portland. The Guild funds its activities from income derived from its investments arising from this and in the 21st Century, the guild plays a major role in the provision of support to unicorn education and is a vibrant participant in new educational initiatives.</p>

      <p>The Unicorn Guild is also custodian of an archive stretching back to its earliest days as well as historic buildings, art and other artifacts. As well as maintaining this collection, the Guild keeps its history alive by continuing its own traditions and, as the premier Guild, fully participating in the civic life of the City of Portland.
      <br> <a href="https://twitter.com/theunicornguild"><strong>@theunicornguild</strong></a>
    </p>
    <hr>
    <img class="center" src="/images/unicorn-defenders-shield2.png"></img>
    <p class="center">
      <span class="intro3" style="font-size: 3em;">The Unicorn Defenders</span><br>
    </p>

      <p>Unicorn Defenders League is a grassroots organization committed to stopping the destruction of unicorns. We organize collective, nonviolent actions to disrupt the ecologically and economically exploitative hunting of unicorns and the 1%. We also offer training and resources to other groups working for environmental and social justice for unicorns.
      <br> <a href="https://twitter.com/UnicornDefense"><strong>@unicorndefense</strong></a>
      </p>
    <hr>
    <img class="center" src="/images/chuck2.jpg"></img>
    <p class="center">
      <span class="intro3" style="font-size: 3em;">Chuck Vose</span><br>
      <span class="uppercase intro2" style="font-size: 120%;">International Unicorn Trainer, PHD</span><br>
    </p>
      <p>
        Professional adventurer, trainer, & author of several best-sellers including, How to Capture a Unicorn: a step-by-step guide.
        <br> <a href="https://twitter.com/unicorntrekker"><strong>@unicorntrekker</strong></a>
      </p>

  </div>
  <div class="one-half last">
    <p class="intro-left"><span class="dropcap">M</span>ystery Adventure News</p>
    <p class="intro2">
      There's somthing going on in the Unicorn Adventure world. Read the Mystery Adventure twitter feed to find out more.
    </p>
    <p><a class="twitter-timeline"  href="https://twitter.com/ELauerVose/lists/mystery-adventure" data-widget-id="514511958276464640">Follow tweets from The Mystery Adventure</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
  </div>
  <div class="clear"></div>
</div>

<!-- Instructions: https://www.npmjs.org/package/twitter-public-stream

http://stream.twitter.com/1.1/statuses/filter.json?follow=unicorntrekker,theunicornguild,unicorndefense

$.getJSON("yourstream", function(data) {      $("#twitter").html(data[0].text); });
 -->
