
<!-- Begin Slider -->
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>

      <!-- FADE -->
      <li data-transition="fade"> <img src="images/banner2.jpg" alt="" />
        <div class="caption sfr big_white text-shadow-large" data-x="155" data-y="110" data-speed="800" data-start="600" data-easing="easeOutExpo">Mystery Adventure</div>
        <div class="caption sfl transparent-box" data-x="900" data-y="457" data-speed="1000" data-start="1500" data-easing="easeOutExpo">
          <div class="small_white">The Peculiarium</div>
            <div class="small_white">2234 NW Thurman St.</div>
            <div class="small_white">Saturday, October 11th</div>
        </div>
      </li>

      <li data-transition="fade"> <img src="images/banner3.jpg" alt="" />
        <div class="caption sfr big_white text-shadow-large" data-x="105" data-y="310" data-speed="800" data-start="600" data-easing="easeOutExpo">Mystery Adventure</div>
          <div class="caption sfl transparent-box" data-x="950" data-y="500" data-speed="1000" data-start="1500" data-easing="easeOutExpo">
            <div class="small_white">The Peculiarium</div>
            <div class="small_white">2234 NW Thurman St.</div>
            <div class="small_white">Saturday, October 11th</div>
          </div>
      </li>

      <li data-transition="fade"> <img src="images/banner4.jpg" alt="" />
        <div class="caption sfr big_white text-shadow-large" data-x="155" data-y="110" data-speed="800" data-start="600" data-easing="easeOutExpo">Mystery Adventure</div>
        <div class="caption sfl transparent-box" data-x="900" data-y="500" data-speed="1000" data-start="1500" data-easing="easeOutExpo">
            <div class="small_white">The Peculiarium</div>
            <div class="small_white">2234 NW Thurman St.</div>
            <div class="small_white">Saturday, October 11th</div>
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<!-- End Slider -->

<!-- Begin Wrapper -->
<!-- <div class="wrapper">
  <div class="clear"></div>
  <div class="grid-wrapper">
  </div>
  <hr />
  <h2>Tabs Are Handy</h2>
  <div class="intro">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros seget metus.</div>
  <div id="services-container" class="tab-container">
    <ul class="etabs">
      <li class="tab"><a href="#tab-1">Concept</a></li>
      <li class="tab"><a href="#tab-2">Prepare</a></li>
      <li class="tab"><a href="#tab-3">Retouch</a></li>
      <li class="tab"><a href="#tab-4">Finalize</a></li>
    </ul>
    <div class="panel-container">
      <div id="tab-1">
        <p><span class="dropcap">D</span>onec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</p>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. </p>
      </div>
      <div id="tab-2">
        <p><span class="dropcap">I</span>teger posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>
      <div id="tab-3">
        <p><span class="dropcap">S</span>orbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
      <div id="tab-4">
        <p><span class="dropcap">N</span>ullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>
    </div>
  </div>
</div> -->
<!-- End Wrapper -->

