<!-- Begin Head Image -->
<div class="head-image"> <img src="images/art/head3.jpg" alt="" />
  <div class="page-title">
    <h1>From Our Journal</h1>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro uppercase center">Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Etiam porta sem  magna mollis euismod. Praesent commodo cursus magna vel scelerisque.</div>

  <!-- Begin Container -->
  <div class="container">
    <!-- Begin Post -->
    <div class="post">
      <div class="featured"><img src="images/art/post1.jpg" alt="" /></div>
      <div class="info">
        <div class="date">
          <div class="day">26</div>
          <div class="month">Aug</div>
        </div>
        <ul class="share">
          <li><a href="#"><img src="images/share-facebook.png" alt="Like" /></a></li>
          <li><a href="#"><img src="images/share-twitter.png" alt="Tweet" /></a></li>
          <!-- <li><a href="#"><img src="images/share-google.png" alt="+1" /></a></li> -->
          <!-- <li><a href="#"><img src="images/share-pinterest.png" alt="Pin It" /></a></li> -->
        </ul>
      </div>
      <div class="post-content">
        <h1 class="title">Fermentum Pharetra Tortor Porta</h1>
        <div class="meta"> <a href="#">Journal</a>, <a href="#">Web Design</a>, <a href="#">Photography</a> <span>|</span> <span class="comments"><a href="#">9 Comments</a></span> </div>
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p>Donec sed odio dui <a href="#">consectetur adipiscing</a> elit. Etiam sollicitudin tincidunt elit, eu convallis felis suscipit ut. Sed et nisl ut odio lacinia auctor. Nullam eu sagittis mauris. Donec non dolor ac elit aliquam tincidunt at at sapien. Aenean tortor libero, condimentum ac laoreet vitae, varius tempor nisi. Duis non arcu vel lectus. </p>
        <blockquote>
          <p>Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo.</p>
        </blockquote>
        <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. <span class="highlight">Etiam adipiscing</span> morbi vitae magna tellus, ac mattis urna. <span class="highlight2">Phasellus rhoncus tincidunt</span> posuere. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <div class="clear"></div>
        <h3>Unordered list</h3>
        <ul>
          <li>Mauris lacinia dui non metus dignissim venenatis.</li>
          <li>Etiam elit tellus, condimentum tempor lobortis non.</li>
          <li>Aliquam pharetra vestibulum arcu, eget iaculis. </li>
        </ul>
        <p> Mauris convallis, sapien id ultricies aliquet, mi nisi congue dui, id laoreet ligula ante vitae ligula. Duis lectus magna, cursus in molestie eget, cursus eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ullamcorper laoreet metus, eu commodo diam cursus et. Nam eleifend aliquam augue, id condimentum erat vehicula vel. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet.</p>
      </div>
      <div class="clear"></div>

    </div>
    <!-- End Post -->

    <hr />

  </div>
  <!-- End Container -->
</div>
<!-- End Wrapper -->