<!-- Begin Head Image -->
<div class="head-image"> <img src="images/control-panel.jpg" alt="" />
  <div class="page-title">
    <div><span class="uppercase">“The game is afoot.”</span> <small>– Arthur Conan Doyle, Sherlock Holmes</small></div>
  </div>
</div>
<!-- End Head Image -->

<!-- Begin Wrapper -->
<div class="wrapper">
  <div class="intro center"><p>This page is under construction ... stay tuned for updates.<br></div></p>
</div>